@model ReservationSystem.ViewModels.ReservationSearchViewModel

@{
    ViewBag.Title = "ViewMyReservations";
}

<div class="table-responsive">
    <table style="width:80%; overflow: scroll;" class="table table-striped table-sm">
        <thead>
            <tr>
                <td>Room Name</td>
                <td hidden>Room ID</td>
                <td hidden>Room SpecsID</td>
                <td>Projection</td>
                <td>Reservation Time</td>
                <td>Agenda</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Reservations.Count != 0)
            {
                foreach (var room in Model.Reservations)
                {
                    <tr>
                        <td>@room.Room.RoomName</td>
                        <td id="RoomID" name="RoomID" hidden>@room.Room.ID</td>
                        <td id="RoomSpecificationID" name="RoomSpecificationID" hidden>@room.RoomSpecification.ID</td>
                        <td>@room.RoomSpecification.RoomProjectionSpecs</td>



                        <td>@room.ReservationTime</td>
                        <td>@room.ReservationAgenda</td>
                        <td>@room.MeetingStatus</td>

                        @if (room.MeetingStatus == "Completed")
                        {
                            <td>
                                <button hidden type="button" class="btnEnd btn btn-icon-text mb-3 mb-sm-0 btn-inverse-warning font-weight-normal" data-id="@room.ID">END MEETING</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button type="button" class="btnEnd btn btn-icon-text mb-3 mb-sm-0 btn-inverse-warning font-weight-normal" data-id="@room.ID">END MEETING</button>
                            </td>
                        }


                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4"> No Reservation Found.</td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(".btnEnd").click(function () {
        var confirmdelete = confirm("Are you sure want to end the meeting?");
        if (confirmdelete) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EndMeeting", "Reservation")',
                data: {
                    ID: $(this).attr('data-id')

                }

            })
                .done(function (response) {
                    $("#myreservationcontainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }

    });
</script>

