@model List<RoomSpecification>

@{
    ViewBag.Title = "RoomSpecificationTable";
}
<div>
   
 <button type="button" class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-success font-weight-normal" id="newBtn">NEW</button>

</div>
<table class="table-responsive  table-striped">
    <thead>
        <tr>
            <td>Room Specification</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var specs in Model)
        {
            <tr>
                <td>@specs.RoomProjectionSpecs</td>
                <td>
                <button class="btnEdit btn btn-icon-text mb-3 mb-sm-0 btn-inverse-warning font-weight-normal" data-id="@specs.ID" > EDIT</button>
                <button class="btnDelete btn btn-icon-text mb-3 mb-sm-0 btn-inverse-danger font-weight-normal" data-id="@specs.ID" > DELETE</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#newBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "RoomSpecification")',

        })
            .done(function (response) {
                $("#roomspecsactioncontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })

    });


     $(".btnEdit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "RoomSpecification")',
            data: {
                ID: $(this).attr('data-id')
            }

        })
            .done(function (response) {
                $("#roomspecsactioncontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })

     });


     $(".btnDelete").click(function () {
        var confirmdelete = confirm("Are you sure want to delete?");
        if (confirmdelete) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "RoomSpecification")',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
                .done(function (response) {
                    $("#roomspecscontainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }

    });
</script>

